class Secrets(object):
    def __init__(self):
        self.keyConst = 0x0123456789ABCDEF0123456789ABCDEF # the key scrambler constant
        self.key0x30X = 0x0123456789ABCDEF0123456789ABCDEF # from bootrom
        self.keyMovable = 0x0123456789ABCDEF0123456789ABCDEF # from movable.sed
